p{
    width: 200px;
    height: 200px;
}
p:nth-child(odd){
    background-color: rgb(143, 143, 255);
}
p:nth-child(1){
    overflow:auto;
}
p:nth-child(2){
    overflow:scroll;
    visibility: hidden;
}
